.alert {
	margin: 0 0 15px;
	border: 0; border-radius: 3px;
	padding: 15px 15px 12px;
	@include font(14px,#fff,400,0,0); text-shadow: 0 0 2px #3e3e3e;

	$kinds: "success", "danger", "warning", "info";
	$kinds-colors: $base-color-success, $base-color-danger, $base-color-warning, $base-color-info;
	$i: 1;
	
	@each $item in $kinds {
		$color: nth($kinds-colors, $i);
		&.alert-#{$item} { background: $color; border-bottom: 2px solid darken($color, 10%); }
		$i: $i + 1;
	}

	.close { outline: none; opacity: 1; top: -3px; right: 0; @include font(26px,#fff,300,0,0); text-shadow: 0 0 2px #3e3e3e; }
}