.newsletter-form { 
  $_input-height: 45px;
  $_border-width: 0;

  position: relative; font-size: 0; margin: 0 0 25px; border-radius: 30px;

  input[type="text"],
  input[type="submit"] {
    transition: all 0.3s ease; outline: none; box-shadow: none; display: inline-block; vertical-align: middle;
    height: $_input-height;
    background: #fff;
    border: $_border-width solid #eee; border-radius: 30px;
    @include font(14px,#262626,400,$_input-height,0);
    @include placeholder(#919191);
  }

  input[type="text"] {
    width: 100%;
    padding: 0 150px 0 30px;
    &:focus { border-color: $theme-color; }
  }

  input[type="submit"] {
    z-index: 2; position: absolute; top: 3*$_border-width; right: -1px; text-align: left; white-space: nowrap; width: auto;
    height: $_input-height - 6*$_border-width;
    line-height: $_input-height - 6*$_border-width;
    border-width: 0;
    border-color: #ddd;
    padding: 0 45px;
    @include font(14px,#fff,400,1em,1);
    background-color: $theme-color;
    &:hover { opacity: .8; }
  }
}