.standard-form {
  $_input-padding: 15px;
  $_input-border-color: black;

  label,
  label.indentation { display: inline-block; margin: 0 0 7px; @include font(14px,$default-font-color,500,0,uppercase); padding-left: 20px; }

  input,
  textarea,
  select { 
    transition: all 0.25s ease; background: transparent; height: 45px; line-height: 45px;
    border-radius: 0; border: 1px solid $_input-border-color;
    padding: 0 $_input-padding;
  }
  textarea { display: block; resize: none; height: 200px; line-height: initial; padding: $_input-padding; }

  input:focus,
  textarea:focus,
    select:focus {  }

  input[type="submit"] { white-space: normal; line-height: initial; display: inline-block; @include square(initial); margin-bottom: 15px;
    padding: 13px 50px; @include font(1.5rem,#fff,400,1em,initial);
    background: $theme-color;
    &:hover { opacity: .8; }

    @include mq(max, $screen-lg) {
      & { padding: 12px 40px; font-size: 1.3rem; }
    }
  }

  input[type="radio"] { display: none; }
  input[type="radio"] + label { position: relative; padding-left: 30px; display: block; margin: 5px 0 15px; cursor: pointer; @include font(12px,$default-font-color,400,1em,0); }
  input[type="radio"] + label span { position: absolute; top: 4px; left: 0; @include square(26px); margin: -2px 4px 0 0; border: 1px solid $theme-color; border-radius: 50%; background: url(#{$icons}/form-radio.png) no-repeat center bottom -20px;
    transition: all 0.3s ease 0.1s; display: inline-block; vertical-align: middle; cursor: pointer; }
  input[type="radio"]:checked + label span { border-color: $theme-color; background: url(#{$icons}/form-radio.png) no-repeat center; }

  input[type="checkbox"] { display: none; }
  input[type="checkbox"] + label { position: relative; padding-left: 42px; display: block; margin: 10px 0 20px; cursor: pointer; @include font(12px,$default-font-color,400,1em,0); }
  input[type="checkbox"] + label span { position: absolute; top: -5px; left: 0; @include square(26px); margin: -2px 0 0 0; border: 1px solid $theme-color; background: url(#{$icons}/form-checkbox.png) no-repeat center bottom -20px; border-radius: 50%;
    transition: all 0.3s ease 0.1s; display: inline-block; vertical-align: middle; cursor: pointer; }
  input[type="checkbox"]:checked + label span { background: url(#{$icons}/form-checkbox.png) no-repeat center; }

  input[type="radio"]:disabled + label,
  input[type="checkbox"]:disabled + label { color: #ddd; }
  input[type="radio"]:disabled + label span,
  input[type="checkbox"]:disabled + label span { background-color: #ddd; }

  input.light,
  textarea.light,
  select.light { box-shadow: none; border: 1px solid black; border-radius: 0; 
    &:focus {  border: 1px solid $theme-color; }
  }

  .select-wrapper { position: relative; overflow: hidden; border-radius: 30px; border: 1px solid $theme-color;
    &:after { content: ""; position: absolute; top: 20px; right: 20px; @include triangle(down, 8px, $default-font-color); }
    select { width: calc(100% + 30px); border: none; }
  }

  .label { @include font(14px,$default-font-color,400,1em,uppercase); margin: 0 10px 0 0; display: inline-block; vertical-align: middle;
    &.no-margin { margin: 0; padding-right: 0; }
    &.bigger { line-height: 24px; }
  }
  .total-price { display: inline-block; vertical-align: middle; @include font(24px,$theme-color,700,1em,uppercase);
    &.bigger { line-height: 24px; }
  }
  .remind { display: block; margin-top: 7px; }




  .has-error {
    input,
    input[type="radio"] + label span,
    input[type="checkbox"] + label span,
    textarea,
    select { border-color: $base-color-danger; }

    .error-tip { text-align: left; background: $base-color-danger; padding: 5px 15px; border-radius: 10px; @include font(11px,#fff,400,0,0); text-shadow: 0 0 1px #000; margin-top: 5px; }
  }
  .required label:after { content: " *"; }
}